@font-face {
  font-family: 'NeueMontreal';
  src: url('fonts/NeueMontreal.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('fonts/NeueMontreal-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('fonts/NeueMontreal-Light.otf');
  font-weight: 300;
}

:root {
  --black: #282828;
  --white: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: var(--black);
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--black);
  border-bottom: 1px solid var(--white);
}

.logo-container {
  display: grid;
  grid-template-columns: 250px;
  padding: 0.8rem 1rem 2rem 2rem;
}

.logo-text {
  font-family: NeueMontreal, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  color: var(--white);
  grid-column: 1 / 3;
  grid-row: 1;
  line-height: 1;
}

.logo-image {
  width: 50px;
  justify-self: right;
  grid-column: 1;
  grid-row: 1;
  align-self: end;

}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-right: 2rem;
}

.menu-link {
  font-family: NeueMontreal, sans-serif;
  font-weight: 300;
  color: var(--white);
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0;
  font-size: 0;
}

.list-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  font-family: NeueMontreal, sans-serif;
  color: var(--white);
  font-weight: 300;
}

.episode-list {
  font-family: NeueMontreal, sans-serif;
  font-weight: 300;
  color: var(--white);
}

h1 {
  font-family: NeueMontreal, sans-serif;
  color: var(--white);
  font-weight: 300;
}

.img-sq {
  aspect-ratio: 1;
}

.sq-text {
  padding: 2rem 1rem 0 1rem;
  background-color: #00000030;
  z-index: 10;
  height: 100%;
  visibility: hidden;
}

.s2e1:hover > div {
  visibility: visible;
}

.s2e2:hover > div {
  visibility: visible;
}

.s2e3:hover > div {
  visibility: visible;
}

.s2e4:hover > div {
  visibility: visible;
}

.s2e5:hover > div {
  visibility: visible;
}

.s2e6:hover > div {
  visibility: visible;
}

.s2e7:hover > div {
  visibility: visible;
}

.s2e8:hover > div {
  visibility: visible;
}

.s2e9:hover > div {
  visibility: visible;
}

.s2e10:hover > div {
  visibility: visible;
}

.s2e11:hover > div {
  visibility: visible;
}

.s2e12:hover > div {
  visibility: visible;
}

.sq-text h2 {
  font-family: NeueMontreal, sans-serif;
  color: var(--white);
  font-weight: 500;
  font-size: 4vw;
  padding-top: 0.5vh;
  margin: 0;
  text-decoration: none;
}

.sq-text h3 {
  font-family: NeueMontreal, sans-serif;
  color: var(--white);
  font-weight: 300;
  font-size: 2vw;
  padding: 0;
  margin: 0;
}

.s2e1 {
  grid-area: 3 / 4 / span 1 / span 1;
}

.s2e2 {
  grid-area: 3 / 3 / span 1 / span 1;
}

.s2e3 {
  grid-area: 3 / 2 / span 1 / span 1;
}

.s2e4 {
  grid-area: 3 / 1 / span 1 / span 1;
}

.s2e5 {
  grid-area: 2 / 4 / span 1 / span 1;
}

.s2e6 {
  grid-area: 2 / 3 / span 1 / span 1;
}

.s2e7 {
  grid-area: 2 / 2 / span 1 / span 1;
}

.s2e8 {
  grid-area: 2 / 1 / span 1 / span 1;
}

.s2e9 {
  grid-area: 1 / 4 / span 1 / span 1;
}

.s2e10 {
  grid-area: 1 / 3 / span 1 / span 1;
}

.s2e11 {
  grid-area: 1 / 2 / span 1 / span 1;
}

.s2e12 {
  grid-area: 1 / 1 / span 1 / span 1;
}

